header ul li {
    float: left;
    padding: 0 10 0 0;
    margin: auto;
}

header ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}


div.search p {
    font-family: 'Arial', sans-serif;
    font-weight: lighter;
    margin: .25% 0 .25% .5%;
}

input[type=text] {
    
    border: 3px inset silver; 
    border-radius: 0px;  
    margin: 0;
    
}

header a {
    text-decoration: none; 
    margin: 0;
    padding: 0;
    line-height: 0;
}

.logo {
    font-family: 'Libre Baskerville', serif;
    text-shadow: 2px 1px 4px gray;
    
}

#bl {
   color: #4285f4;
}
#re {
    color: #ea4335;
}
#ye {
    color: #fbbc05;
}
#gr {
    color: #34a853
}

div.search {
    background-color: #f1e5d9;
    border-top: 2px solid #8b0000;
}

button {
    border: 3px outset silver;
    border-radius: 0;
}

button:hover {
    border: 3px inset silver;
    border-radius: 0;
}

/* Sections */

article {
    margin-left: 2%;
    margin-top: 15;
}

article h5 {
    font-family: 'Arial', sans-serif;
    font-size: 100%;
    color: blue;
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 0;
    margin-top: 0;
    
}

summary {
    width: 55%;
    font-size: 80%;
    font-family: "Arial", sans-serif;
}

pre {
    padding: 0;
    margin: 0;
}


article p {
    width: 55%;
    font-family: 'Arial', sans-serif; 
    font-weight: normal;
    font-size: 80%;
    margin-top: .4%;
    margin-bottom: 0;
}

article a {
    color: #006600;
    width: 55%;
    font-family: 'Arial', sans-serif; 
    font-size: 80%;
    margin: 0;   
    padding: 0;
}